# https://hydra.cc/docs/configure_hydra/intro/

# enable color logging
defaults:
  - override hydra_logging: colorlog
  - override job_logging: colorlog

# output directory, generated dynamically on each run
run:
  # dir: ${paths.log_dir}/${task_name}/runs/${oc.select:tags.0,Untagged}_${now:%Y-%m-%d}_${now:%H-%M-%S}
  dir: ${paths.log_dir}/${task_name}/runs/${join:${tags},'_'}_${now:%H-%M-%S}
sweep:
  # dir: ${paths.log_dir}/${task_name}/multiruns/${oc.select:tags.0,Untagged}_${now:%Y-%m-%d}_${now:%H-%M-%S}
  dir: ${paths.log_dir}/${task_name}/multiruns/${join:${tags},'_'}_${now:%H-%M-%S}
  subdir: ${hydra.job.num}

job_logging:
  handlers:
    file:
      # Incorporates fix from https://github.com/facebookresearch/hydra/pull/2242
      filename: ${hydra.runtime.output_dir}/${task_name}.log
